@media only screen and (max-width: 600px) {
  /* Hero section */
  header {
    overflow-x: scroll;
    width: 100%;
    position: absolute;
  }

  nav > ul {
    gap: 10px;
    justify-content: space-around;
  }

  .title-name {
    font-size: 22px;
  }

  .title-description {
    font-size: 14px;
  }

  .hero-section {
    height: auto;
  }

  .hero-section .container {
    margin: 10px;
  }

  .about-me {
    margin-top: 100px;
  }

  .btn-group {
    margin-top: 10px;
    gap: 10px;
  }

  .btn {
    padding: 8px;
    font-size: 14px;
    width: 120px;
  }

  /* About section */
  .about-section {
    margin-top: 50px;
    height: auto;
  }

  .about-section .container {
    padding: 0;
  }

  .about-title {
    font-size: 22px;
  }

  .about-description {
    font-size: 14px;
    text-align: justify;
  }

  .about-content {
    margin: 10px 0px 10px 0px;
    font-size: 14px;
  }

  .content {
    margin: 15px;
  }

  .col {
    flex: 1 1 100%;
  }

  /* Portofolio section */
  .portofolio-section {
    height: auto;
  }

  .portofolio-section .container {
    padding: 0;
  }

  .portofolio-title {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .portofolio-description {
    font-size: 14px;
    text-align: justify;
  }

  .portofolio-image {
    max-width: 100%;
  }

  .portofolio-section .btn-secondary {
    width: 100%;
  }

  /* Activity section */
  .activity-section .container {
    margin-top: 50px;
    padding: 0;
  }

  .activity-title {
    font-size: 22px;
  }

  .activity-description {
    font-size: 14px;
  }

  .card {
    width: 100%;
  }

  .card-title {
    font-size: 22px;
  }

  .card-description {
    font-size: 14px;
  }

  .card-link {
    font-size: 14px;
  }

  /* Contact section */
  .contact-information {
    margin-top: 20px;
  }

  /* Contact section */
  .contact-section .container {
    padding: 0;
  }

  .contact-title {
    font-size: 22px;
  }

  .form-group {
    font-size: 14px;
  }

  .contact-map {
    margin: 20px 0px 0px 0px;
  }

  /* Footer */
  footer p {
    padding: 20px 0px 20px 0px;
    font-size: 14px;
  }
}
